@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:wght@600&family=Raleway:ital,wght@1,500&display=swap');
*{
    margin:0;
    padding: 0 ;
    box-sizing:border-box;
    font-family: 'Caprasimo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}


header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 20px 100px;
 display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  
}
header:hover{
  background-color: #0a0a0a;
}
.logo{
  font-size: 2em;
  color: aliceblue;
  user-select: none;
  
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: rgb(245, 245, 246);
  text-decoration: none;
  margin-left: 40px;
}
.navigation a::after{
  content: " ";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scale(0);
  transition: transform .5s;

}
.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
  color: #fff;
}
.navigation .buttonlogout{
  width: 100px;
  height: 50px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor:pointer;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
  transition: Ss;
  text-align: left;
}
.navigation .buttonlogout:hover{
  background-color: #0a0a0a;
  color: rgb(8, 8, 8);
}


.active {
  background-color: #04AA6D;
}
.home-containerr {
  background-image:url("https://images.unsplash.com/photo-1607237138185-eedd9c632b0b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGNhbXB1c3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fffefe;
}

.white-box {
  width: 600px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.school-name {
  color: #0868ee;
}
p{
  color: rgb(217, 32, 227);
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

