@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:wght@600&family=Raleway:ital,wght@1,500&display=swap');
*{
    margin:0;
    padding: 0 ;
    box-sizing:border-box;
    font-family: 'Caprasimo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(113, 27, 27);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}
.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;
    
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(163, 173, 176);
    text-decoration: none;
    margin-left: 40px;
}
.navigation a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;

}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .buttonlogin{
    width: 130px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: Ss;

}
.navigation .buttonlogin:hover{
    background-color: #fff;
    color: rgb(8, 8, 8);
}